<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <h1>Learning about servers with Node.js</h1>

    <a href="/programmer1718" id="profile">Your Profile</a>
</body>
</html>